<a href="https://colab.research.google.com/github/HovhannesArustamyan/knn_algorithm/blob/master/knn_model_withCV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [ ]:
df = pd.read_csv('https://sololearn.com/uploads/files/titanic.csv')
df

,Survived,Pclass,Sex,Age,Siblings/Spouses,Parents/Children,Fare
0,0,3,male,22.0,1,0,7.2500
1,1,1,female,38.0,1,0,71.2833
2,1,3,female,26.0,0,0,7.9250
3,1,1,female,35.0,1,0,53.1000
4,0,3,male,35.0,0,0,8.0500
...,...,...,...,...,...,...,...
882,0,2,male,27.0,0,0,13.0000
883,1,1,female,19.0,0,0,30.0000
884,0,3,female,7.0,1,2,23.4500
885,1,1,male,26.0,0,0,30.0000
886,0,3,male,32.0,0,0,7.7500

In [ ]:
df['Sex'].replace({"male":1,"female":0}, inplace= True)

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaling = MinMaxScaler()
df[["Fare","Age"]]=scaling.fit_transform(df[["Fare","Age"]])

In [ ]:
X= df[['Pclass','Sex','Age','Parents/Children','Fare']].values
y=df['Survived'].values

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y ,random_state=42 , test_size=0.25)

In [ ]:
 knn= KNeighborsClassifier()

In [ ]:
from sklearn.model_selection import GridSearchCV
k_range= list(range(1,15))
param_grid = dict(n_neighbors=k_range)

In [ ]:
grid = GridSearchCV(knn, param_grid, cv=5, scoring='accuracy')
grid_search=grid.fit(X_train,y_train)
grid_search.best_params_

{'n_neighbors': 6}

In [ ]:
knn = KNeighborsClassifier(n_neighbors=6)
model = knn.fit(X_train, y_train)
y_pred_train = model.predict(X_train)
y_pred = model.predict(X_test)
print(accuracy_score(y_pred_train , y_train))
print(accuracy_score(y_pred,y_test))

0.843609022556391
0.8063063063063063